body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #ff9800;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #ead196;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


.quick-links {
    text-align: center;
    padding: 50px;
    background-color: #f3edc8;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links li {
    display: inline-block;
    margin: 0 15px;
}

.quick-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

